.titulosBody{
    text-align: center;
    padding: 50px;
}

.contadorItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contenedorContador{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.spanContador{
    padding-left: 30px;
    padding-right: 30px;
}

.productosFlex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.paddingDetail{
    padding-top: 50px;
}

.paddingCardItem{
    padding-bottom: 30px;
}

.centerCargando{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 100px;
    padding-bottom: 100px;
}

.flexBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.flexCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imgCart{
    padding-bottom: 1rem;
}

.totalPorItem{
    font-size: 16px;
}