.fondoHeader{
    background: linear-gradient(to bottom, rgb(255, 0, 0), white);
    position: sticky;
    top: 0px;
    z-index: 3;
}

.responsiveHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.responsiveHeaderOnline{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.responsiveHeaderLista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.logoTienda{
    width: 150px;
}

.listaNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style: none;
    font-size: 25px;
    font-family: 'Poppins', sans-serif, '300';
}

.listaNavBar li:hover{
    cursor: pointer;
}

.carritoCompras{
    width: 60px;
}

.itemsCarrito{
    position: absolute;
    right: 185px;
    top: 53px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.3px black;
}

.fontStyle{
    font-family: 'Poppins', sans-serif, '600';
}